.App {
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(234, 234, 255); */
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.searchDiv {
  display: flex;
  border-radius: 10px;
  margin: 20px;
  justify-content: space-between;
}

.searchTextDiv {
  padding-right: 15px;
  padding-top: 4px;
}

.searchDiv input {
  outline: none;
}

.searchDiv input {
  border: solid 2px rgba(32, 99, 224, 0.651);
  border-radius: 7px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.sidebar {
  height: 100vh;
  width: 200px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 3px 7px rgb(224, 224, 224);
  
}

.mobileViewDiv {
  display: none;
}

.sidebarButton {
  display: block;
}

@media only screen and (max-width: 600px) {
  
  .mobileViewDiv {
    display: block;
  }

  .sidebarButton {
    display: none;
  }
  .sidebar {
    width: 70px;
    z-index: 99;
    position: fixed;
  }


}

@media screen and (max-width: 600px) {


  table thead {
  
    overflow: hidden;
   
    position: absolute;
    width: 0px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
  }


  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    /* font-size: 0.8em; */
    text-align: right;
  }

  table td::before {
    float: left;
    font-weight: bold;
  }

  /* Label the data */

  td:nth-of-type(1):before {
    content: "S.No:";
  }
  td:nth-of-type(2):before {
    content: "Employee Name";
  }
  td:nth-of-type(3):before {
    content: "Gender";
  }
  td:nth-of-type(4):before {
    content: "Date of joining";
  }
  td:nth-of-type(5):before {
    content: "Designation";
  }
  td:nth-of-type(6):before {
    content: "CTC";
  }
  td:nth-of-type(7)::before {
    content: "Action";
  }



}

