.App {
  width: 100vw;
  height: 100vh;
  /* background-color: rebeccapurple; */
}


* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.searchDiv {
  display: flex;
  border-radius: 10px;
  margin: 20px;
  /* margin-left: 0; */
  justify-content: space-between;
}

.searchTextDiv {
  padding-right: 15px;
  /* padding-left: 15px; */
  padding-top: 4px;
}

/* .searchInputDiv {
  border-bottom: solid 1px black;
} */

.searchDiv input {
  outline: none;
}

.searchDiv input {
  border: solid 2px rgba(32, 99, 224, 0.651);
  border-radius: 7px;
}

/* .searchInputDiv {
  
} */