
.tableRowDb:nth-child(odd) {
    background-color:  white;
}

.tableRowDb:nth-child(even) {
    background-color: rgb(117, 186, 241);
}

.tableRowDb:last-child {
    display: none;
}

.tableHeadDb {
    
    text-align: center;
    height: 50px;
    border-bottom: solid 1px black;
    background-color: rgb(117, 186, 241);
}

.tableRowDb {
    text-align: center;
    height: 50px;
}


