

.tableHeadDb {
  /* text-align: center; */
  height: 50px;
  border-bottom: solid 1px black;
  /* background-color: rgba(32, 99, 224, 0.651); */
  background-color: rgb(159, 193, 252);
}


.tableReact {
  box-shadow: 4px 4px 13px rgba(114, 114, 114, 0.466);
}

.tableDiv {
  padding: 1%;
}

.dojAndAction {
  text-align: center;
}

